  <form class="form update-form" data-id="{{post.id}}">
    <input type="hidden" name="post-id" value="{{post.id}}" />
      <div class="form-group">
        <label for="update-title">Blog Post title:</label>
        <input class="form-input" type="text" id="update-title" name="update-title" value="{{title}}"/>
      </div>
      <div class="form-group">
        <label for="update-content">Content:</label>
        <input class="form-input" type="text" id="update-content" name="update-content" value="{{content}}"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn Submit-Update btn-primary" >Submit Update</button>
      </div>
  </form>