<!-- Loop over each object in the projects array -->
{{#each blogPosts as |post| }}
<div class="project">
  <div>
    <h2>
       <a href="/blogpost/{{post.id}}">{{post.title}}</a>
        </h2>
        <p>
          {{post.post_text}}
        </p>
        <p>
          Created on {{format_date post.date_created}}
        </p>
    </h2>
{{/each}}