header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  nav {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #333;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav li {
    float: left;
  }

  nav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
  }

  nav li a.active {
    background-color: #3786E1;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }

  